# Podstawy Python 3.10. Zmienne, listy i s≈Çowniki
## üá¨üáß Introduction to Python 3.10. Variables, lists and dictionaries
#### üë®‚Äçüè´ M.Sc. Psych., M.Sc. IT, Wojciech Oronowicz-Ja≈õkowiak
#### ü§ñ https://github.com/aipogodzinach

### 1. Operacje na liczbach
#### üá¨üáß Basic math in Python
#### Poni≈ºsze przyk≈Çady przedstawiajƒÖ proste operacje na liczbach, kt√≥re mo≈ºemy przeprowadziƒá w Python.

In [1]:
print(1 + 1) 
# dodawanie
print(1*3) 
# mno≈ºenie
print(1/2) 
# dzielenie
print(2 ** 4) 
# potƒôga

2
3
0.5
16

In [2]:
print(4 % 2)
print(7 % 2)
# do sprawdzenia czy liczba jest parzysta czy nieparzysta (w R jest %%)

0
1

In [3]:
(2 + 3) * (5 + 5)
# operacje na liczbach mo≈ºemy, co oczywiste, ≈ÇƒÖczyƒá
# w tym miejscu nie dodajƒô print, poniewa≈º¬†jupyter wyrzuci tylko jeden wynik, nie ma zatem takiej potrzeby

50

### 2. Formatowanie i wy≈õwietlanie tekstu
#### üá¨üáß Strings
#### Poni≈ºsze przyk≈Çady przedstawiajƒÖ w jaki spos√≥b mo≈ºemy wy≈õwietlaƒá tekst w Python oraz w jaki spos√≥b wykorzystaƒá zmienne do wprowadzenia tekstu.

In [4]:
print("Wy≈õwietlam tekst w Python")
# za pomocƒÖ print mo≈ºemy wy≈õwietliƒá dowolny tekst

Wy≈õwietlam tekst w Python

In [5]:
print("Python jest {k} {z}".format(k="jƒôzykiem", z="programowania"))
# do wy≈õwietlenia tekstu mo≈ºemy r√≥wnie≈º wykorzystaƒá¬†.format

Python jest jƒôzykiem programowania

In [6]:
zmienna = "24.2 lata"
# w pierwszej kolejno≈õci zapisujemy zmiennƒÖ
print("≈örednia wieku wynosi {}".format(zmienna))
# dalej wykorzystujemy jƒÖ¬†do wy≈õwietlenia tekstu

≈örednia wieku wynosi 24.2 lata

In [7]:
nazwisko = "Kowalski"
wiek = "%s ma 20 lat"
# niekiedy u≈ºyteczne sƒÖ dla nas placeholders

In [8]:
wiek%nazwisko

'Kowalski ma 20 lat'

In [9]:
wiek%("Nowak")

'Nowak ma 20 lat'

In [10]:
print('To jest tekst')
print("To jest tekst")
# to nie ma znaczenia - mo≈ºe byƒá '' lub ""

To jest tekst
To jest tekst

In [11]:
z = "Zmienna tekstowa"

In [12]:
z
# jupyter notebook poka≈ºe wynik, ale to nie "prawdziwy print"

'Zmienna tekstowa'

In [13]:
print(z)

Zmienna tekstowa

In [14]:
zmienna = "hello"

print(zmienna[0:2]) # printuje "he" bo dwa pierwsze elementy
print(zmienna[0]) # printuje "h" bo to druga cyfra z tej zmiennej
print(zmienna[3:]) # printuje "lo" z uwagi na to ≈ºe teraz chcemy dane liczƒÖc od czwartej litery

he
h
lo

In [15]:
zmienna = "Jeden st√≥≈Ç"

In [16]:
zmienna.split()
# mo≈ºemy w ten spos√≥b rozdzieliƒá s≈Çowa w danej zmiennej i potraktowaƒá je roz≈ÇƒÖcznie

['Jeden', 'st√≥≈Ç']

### 3. Listy
#### üá¨üáß Lists
#### Poni≈ºsze przyk≈Çady przedstawiajƒÖ w jaki spos√≥b mo≈ºemy wy≈õwietlaƒá tekst w Python oraz w jaki spos√≥b wykorzystaƒá zmienne do wprowadzenia tekstu.

In [ ]:
lista = [1, 2, 6, 4]
# w tym miejscu tworzymy prostƒÖ listƒô sk≈ÇadajƒÖcƒÖ¬†siƒô¬†z czterech element√≥w
lista

In [ ]:
lista[1]
# w ten spos√≥b wybieramy drugi element ze zbioru (poniewa≈º¬†liczenie zaczyna siƒô¬†od 0)

In [ ]:
lista.pop(0) 
# je≈ºeli chcemy usunƒÖƒá¬†wybrany element zbioru wykorzystujemy .pop oraz wybieramy po≈Ço≈ºenie elementu

In [ ]:
lista
# wy≈õwietlajƒÖc teraz listƒô¬†widzimy, ≈ºe nie zawiera pierwszego elementu

In [ ]:
lista.sort()
# tego polecenia u≈ºywamy, je≈ºeli chcemy posortowaƒá elementy w li≈õcie
lista

In [ ]:
max(lista)
# wy≈õwietlamy najwiƒôkszy element tego zbioru

In [ ]:
lista.clear()
# je≈ºeli chcemy wyczy≈õciƒá listƒô u≈ºywamy clear

In [ ]:
lista2 = ["kot", "dwa koty", "trzy koty", "cztery koty"]

In [ ]:
lista2

In [ ]:
lista2.append("piƒôƒá kot√≥w")
# mo≈ºemy dodaƒá kolejny element do naszej listy przez append

In [ ]:
lista2

In [ ]:
del lista2[2]
# lista2.pop(2)

In [ ]:
lista2

In [ ]:
lista = [1,2,[3,4]] 
# tworzenie listy wewnƒÖtrz listy (w naszym przypadku - elementy 3 i 4)
lista

In [ ]:
lista[2]
# je≈ºeli wybieramy trzeci z kolejnych element√≥w w li≈õcie, to bƒôdzie to nasza osadzona wewnƒÖtrz lista

In [ ]:
lista[2][1]
# a jak wybraƒá¬†drugi z kolei element w ≈õrodku tej listy?

In [ ]:
lista = [1,2,3,[4,5,['tekst']]]
# podobne zagadnienie, tylko z innƒÖ¬†listƒÖ - zastan√≥wmy siƒô¬†jak wybraƒá¬†"tekst"

In [ ]:
lista[3] 
# "wyciƒÖgnie trzeci" element z tej listy

In [ ]:
lista[3][2]

In [ ]:
lista[3][2][0]

### 4. S≈Çowniki
#### üá¨üáß Dictionaries
#### Niekiedy przydajƒÖ¬†siƒô¬†nam dictionaries (s≈Çowniki). Poni≈ºsze przyk≈Çady przedstawiajƒÖ w jaki spos√≥b tworzy siƒô¬†i zarzƒÖdza siƒô¬†s≈Çownikami.

In [ ]:
dane = {"Temperatura":23, "Opady":0.1, "Nas≈Çonecznienie":3} 
# {'key1':'item1','key2':'item2'}
# w tym miejscu tworzymy nowy s≈Çownik o nazwie "dane", kt√≥ry zawiera trzy klucze z warto≈õciami
dane

In [ ]:
dane2 = ['hi',1,3] 
# podobnie jak w R listy mogƒÖ¬†przechowywaƒá¬†r√≥≈ºne typy danych
dane2

In [ ]:
dane["Temperatura"]
# wy≈õwietlimy dziƒôki temu warto≈õƒá¬†temperatury przyporzƒÖdkowanƒÖ¬†do klucza

In [ ]:
dane["Temperatura"] = 24
# a jak zmieniƒá¬†przyporzƒÖdkowanƒÖ¬†warto≈õƒá?
dane

In [ ]:
del dane["Temperatura"]
# mo≈ºemy oczywi≈õcie usunƒÖƒá klucze
dane

In [ ]:
dane = {"Temperatura":[1,2,3], "Opady":0.1, "Nas≈Çonecznienie":3}
# mo≈ºemy r√≥wnie≈º u≈ºywaƒá list jako warto≈õci

In [ ]:
dane['Temperatura']

In [ ]:
d = {"klucz":['a', 'b', 'c']}
# stw√≥rzmy teraz prosty s≈Çownik zawierajƒÖcy jeden klucz z listƒÖ trzech warto≈õci, nazwijmy go d

In [ ]:
d['klucz'][0]
# mo≈ºemy w ten spos√≥b wy≈õwietliƒá pierwszy element listy przy tym kluczu

In [ ]:
d['klucz'][2].upper()
# mo≈ºemy r√≥wnie≈º przeprowadziƒá¬†podstawowe operacje polegajƒÖce np. na zmiane ma≈Çej/du≈ºej litery

In [ ]:
dane.keys()
# wy≈õwietlamy klucze ze s≈Çownika

In [ ]:
dane.items()

In [ ]:
dane.values()

### 5. Tuple
#### üá¨üáß Tuples

In [ ]:
t = (1,2,3)
# tuple sƒÖ listami, ale sƒÖ¬†niezmienne - niekiedy przydajƒÖ¬†siƒô¬†w analizie danych

In [ ]:
t

In [ ]:
t[0]
# mo≈ºemy wybraƒá jeden z element√≥w zbioru

In [ ]:
# t[0] = '1' 
# w tuple nie da siƒô¬†zmieniaƒá¬†danych, to nie zadzia≈Ça i zwr√≥ci b≈ÇƒÖd

In [ ]:
t = ('a', 'a', 'b', 'a1', 'a')

In [ ]:
t.count('a') 
# to funkcja wbudowana w tuples, mo≈ºemy policzyƒá¬†wystƒôpowanie

In [ ]:
t.index('b')
# mo≈ºemy okre≈õliƒá indeks, kt√≥ry towarzyszy danemu rozwiƒÖzaniu

### 6. Sety
#### üá¨üáß Sets

In [ ]:
set1 = {1,2,3} 
# istotƒÖ set√≥w sƒÖ unikalne elementy, nie sƒÖ uporzƒÖdkowane
set1

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2} 
# wy≈õwietlane sƒÖ tylko unikalne liczby, powtarzajƒÖce siƒô¬†sƒÖ ignorowane

In [ ]:
set1.add(4)
# mo≈ºemy dodaƒá kolejny element do listy

In [ ]:
set1

### üìö Zadanie 1.
##### Sprawd≈∫ jakie funkcje mo≈ºna znale≈∫ƒá¬†w Python - https://www.w3schools.com/python/module_math.asp Stw√≥rz zmiennƒÖ, kt√≥rƒÖ¬†nazwiesz "x", nadaj jej warto≈õƒá "5.29". U≈ºywajƒÖc modu≈Çu math policz cosinus z tej liczby.
##### üá¨üáß Check Python math module documentation - https://www.w3schools.com/python/module_math.asp Create "x" variable with value "5.29". Using math module return the cosine of a number.

In [17]:
import math
x = 5.29
x_cos = math.cos(x)
print(x_cos)

0.5460240819816483

### üìö Zadanie 2.
##### Stw√≥rz zmiennƒÖ, kt√≥rƒÖ¬†nazwiesz "x", nadaj jej warto≈õƒá "Jeden", zmiennƒÖ¬†"y" z warto≈õciƒÖ¬†"komputer" oraz zmiennƒÖ¬†"z" z warto≈õciƒÖ¬†"Apple". Stw√≥rz zmiennƒÖ¬†a, kt√≥ra bƒôdzie zawiera≈Ça wszystkie zmienne (x, y, z), ≈ÇƒÖczƒÖc je w jedno zdanie.
##### üá¨üáß Create "x" variable with value "One"; "y" variable with value "Apple"; variable "z" with value "computer". Create and print "a" variable with all variables (x, y, z).

In [26]:
x = "Jeden"
y = "komputer"
z = "Apple"
a = (x,y,z)
print(a)

('Jeden', 'komputer', 'Apple')

### üìö Zadanie 3.
##### Stw√≥rz listƒô, kt√≥rƒÖ nazwiesz "x". Lista ta powinna zawieraƒá piƒôƒá element√≥w ("Windows", "macOS", "Linux", "iOS", "Android"). Wy≈õwietl tylko drugi element z listy. Usu≈Ñ z listy ostatni element. Dodaj do listy kolejny element ("Ubuntu"). UporzƒÖdkuj listƒô zgodnie z porzƒÖdkiem alfabetycznym.
##### üá¨üáß Create  new list ("x") with five elements ("Windows", "macOS", "Linux", "iOS", "Android"). Print only the last element. Delete the last element. Add new element to the list ("Ubuntu"). Sort the list.

In [27]:
x =  ["Windows", "macOS", "Linux", "iOS", "Android"]
print(x[1])
x.pop(-1)
x.append("Ubuntu")
x.sort()
print(x)

macOS
['Linux', 'Ubuntu', 'Windows', 'iOS', 'macOS']

### üìö Zadanie 4.
##### Stw√≥rz s≈Çownik, kt√≥rƒÖ nazwiesz "x". S≈Çownik ten ta powinien zawieraƒá sze≈õƒá imion i nazwisk (Danuta Brzezi≈Ñska, Krystyna Kami≈Ñska, Teresa Maciejewska, Aleksy Szczepa≈Ñski, Karol Andrzejewski, Kacper Ka≈∫mierczak). Wprowad≈∫¬†informacjƒô o ocenach uzyskanych przez powy≈ºsze osoby. Danuta Brzezi≈Ñska oraz Krystyna Kami≈Ñska - 5; Teresa Maciejewska - 4, Aleksy Szczepa≈Ñski oraz Karol Andrzejewski - 4.5. W przypadku Kacpra Ka≈∫mierczaka wprowad≈∫ dwie oceny - 5 oraz 4.5.
##### üá¨üáß Create new dictionary ("x"). Dictionary should consist of several names and surnames (Danuta Brzezi≈Ñska, Krystyna Kami≈Ñska, Teresa Maciejewska, Aleksy Szczepa≈Ñski, Karol Andrzejewski, Kacper Ka≈∫mierczak). Enter information about the grades. Danuta Brzezi≈Ñska and Krystyna Kami≈Ñska - 5; Teresa Maciejewska - 4, Aleksy Szczepa≈Ñski and Karol Andrzejewski - 4.5. In case of Kacper Ka≈∫mierczak enter two grades - 5 oraz 4.5.

In [28]:
x = {
    "Danuta Brzezi≈Ñska": 5,
    "Krystyna Kami≈Ñska": 5,
    "Teresa Maciejewska": 4,
    "Aleksy Szczepa≈Ñski": 4.5,
    "Karol Andrzejewski": 4.5,
    "Kacper Ka≈∫mierczak": [5, 4.5]
}
print(x)

{'Danuta Brzezi≈Ñska': 5, 'Krystyna Kami≈Ñska': 5, 'Teresa Maciejewska': 4, 'Aleksy Szczepa≈Ñski': 4.5, 'Karol Andrzejewski': 4.5, 'Kacper Ka≈∫mierczak': [5, 4.5]}